/* General Styles
   ========================================================================== */ 
body, html{
  height: 100%;
}
.container{
  background-color: white;
}
/* ========================================================================== */ 



/* Navigation Styles
========================================================================== */ 


/* ========================================================================== */ 




/* Image Styles
========================================================================== */ 
.background{
  background-image: url('https://pixabay.com/get/eb36b00e2af7073ecd1f4d0ce24d4796e26ae3d01cb3144892f8c47d/city-2311236.png');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}


/* ========================================================================== */ 



/* Footer Styles
========================================================================== */ 

/* ========================================================================== */ 




